<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto - Fotolibros</title>
</head>
<body>
    {% extends "appproductos/index.html" %}  {% load static %}

    {% block title %}Página de Inicio{% endblock %}

    {% block contenidoQueCambia %}
    <br>

    <!-- imagen y descripciones -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg0bZ6_Hu5fseuqcKzkmd9d_FOi7lYmxw9ug&s" alt="..." /></div>
                <div class="col-md-6">
                    <div class="small mb-1">La mejor manera de conservar tus fotos</div>
                    <h1 class="display-5 fw-bolder">Fotolibros</h1>
                    
                    <p class="lead">Enviame un correo a natalia.bazan.fotografia@gmail.com con todas tus consultas</p>
                    <a href="{% url 'busquedaFotolibros' %}" class="btn btn-primary">Buscar Fotolibros</a>
                    <a href="{% url 'listaFotolibros' %}" class="btn btn-primary"> Lista de Fotolibros </a>
                    
                </div>
            </div>
        </div>
    </section>


    
        <br>
    {% endblock %}
</body>
</html>