<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fotolibros</title>
    </head>
<body>


    {% extends "appproductos/index.html" %}  {% load static %}

    {% block title %} Fotolibros {% endblock %}

    {% block contenidoQueCambia %}   

    <div class="container px-5">
        <h2 style="margin-top: 2rem; text-align: left; color: #2a4d69;">Ingrese los detalles del nuevo fotolibro</h2>
        <br>
    
        <form action="" method="POST">
            {% csrf_token %}
        
                {{ form.as_p }}
            
            <input type="submit" class="btn btn-primary" value="Enviar">
            <a href="{% url 'listaFotolibros' %}" class="btn btn-primary">Regresar</a>
        </form>
        <br>
    </div>

    
    
    {% endblock %}

</body>
</html>