{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ESTUDIO FOTOGRAFIA NB</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- <link href="css/styles.css" rel="stylesheet" /> -->
        <link href="{%  static 'appproductos/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg" style="background-color: #f8f1e7; padding: 1rem;">
            <div class="container px-5">
                <a class="navbar-brand" href="{% url 'inicio' %}" style="font-size: 1.8rem; font-weight: bold; color: #2a4d69;">
                    Estudio Fotográfico Natalia Bazán
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        
                        <li class="nav-item"><a class="nav-link" href="{% url 'sesionesFotograficas' %}" style="font-weight: bold; color: #2a4d69;">Sesiones Fotográficas</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'copias' %}" style="font-weight: bold; color: #2a4d69;">Copias Impresas</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'fotolibros' %}" style="font-weight: bold; color: #2a4d69;">Fotolibros</a></li>

                        {% if not request.user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'Login' %}" style="font-weight: bold; color: #2a4d69;">Iniciar Sesión</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'Register' %}" style="font-weight: bold; color: #2a4d69;">Registrarse</a></li>
                        {% else %}

                            <li class="nav-item"><a class="nav-link" href="{% url 'EditarPerfil' %}" style="font-weight: bold; color: #7c1b1b;">{{request.user.username}}</a>
                            {% if request.user.avatar%}
                                <img src="{{request.user.avatar.imagen.url}}" alt="" height="40px">
                            {% endif %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'Logout' %}" style="font-weight: bold; color: #7c1b1b;">Logout</a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Estudio Fotográfico Natalia Bazán</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Ingresar</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Carrito de compras</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Productos</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav> -->
        {% block contenidoQueCambia %}
        <br>

        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://scontent.feze4-1.fna.fbcdn.net/v/t1.6435-9/101510315_2926798840760967_2547545545086337024_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=w4YvYzD7rckQ7kNvgG3IB10&_nc_zt=23&_nc_ht=scontent.feze4-1.fna&_nc_gid=AxXFKX40qIGqYF3rEPv-qAt&oh=00_AYAdqKm1ELOHsv1w5nJy4LUsLoUkL_U97okyzl-gwSvXkw&oe=67835E0C" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">En este sitio encontrará información sobre los servicios y productos que ofrecemos</div>
                        <h1 class="display-5 fw-bolder">Bienvenid@!</h1>
                        <div class="fs-5 mb-5">
                            <!-- <span class="text-decoration-line-through">1000</span>
                            <span>$790</span> -->
                        </div>
                        <p class="lead">Correo: natalia.bazan.fotografia@gmail.com </p>
                        
                    </div>
                </div>
            </div>
        </section>

        {% endblock %} 
        <!-- Product section-->
        
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; www.nataliabazanfotografia.com</p>
            
                <div class="nav-item" style="text-align: center;">
                    <a class="nav-link" href="{% url 'acercaDeMi' %}" style="font-weight: bold; color: #f1f0f0;">
                        ¿Quieres saber más de mí? Haz clic aquí
                    </a>
                </div>
            </div>

            
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
