<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edición Copias</title>
    </head>
<body>


    {% extends "appproductos/index.html" %}  {% load static %}

    {% block title %} Buscar tamaños de copias de fotos {% endblock %}

    {% block contenidoQueCambia %} 
    
    <div class="container px-5">

        <h2 style="margin-top: 2rem; text-align: left; color: #2a4d69;">Resultados de la busqueda por el tamaño {{tamanio}}</h2>
        <br>
    
    {% if copias %}
    <ul>
        {%for copia in copias %}
            <li>Superficie de la copia: {{copia.superficie}}</li>
            <li>Tamaño de la copia: {{copia.tamanio}}</li>
            <li>Precio: ${{copia.precio}}</li>
            <br>
        {% endfor %}
    </ul>
    {% else %}
        <div class="small mb-1">Sin resultados</div>
        <br>
    {% endif %}
    
    <a href="{% url 'busquedaCopias' %}" class="btn btn-primary">Regresar</a>
    

</div>
<br>
{% endblock %}

</body>
</html>