<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto - Sesiones Fotograficas</title>
</head>
<body>
    {% extends "appproductos/index.html" %}  {% load static %}

    {% block title %}Página de Inicio{% endblock %}

    {% block contenidoQueCambia %}
    <br>
       
        
        <!-- imagen y descripciones -->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://ss-static-01.esmsv.com/id/141441/galeriaimagenes/obtenerimagen/?id=252&tipoEscala=stretch&width=1677&height=1118" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">Las sesiones fotograficas que estamos ofreciendo cubren desde la maternidad hasta el primer añito de tu bebe.  Hay diferentes opciones que varian en cantidad de fotos y cambios de vestuarios.</div>
                        <h1 class="display-5 fw-bolder">Sesiones Fotograficas</h1>
                        <div class="fs-5 mb-5">
                            <!-- <span class="text-decoration-line-through">1000</span>
                            <span>$790</span> -->
                        </div>
                        <p class="lead">Enviame un correo a natalia.bazan.fotografia@gmail.com con todas tus consultas</p>

                        <a href="{% url 'busquedaSesiones' %}" class="btn btn-primary">Buscar sesiones de fotos</a>
                        <a href="{% url 'listaSesiones' %}" class="btn btn-primary"> Lista de Sesiones </a>
                        
                    </div>
                </div>
            </div>
        </section>

        
    {% endblock %}
</body>
</html>